html, body, .root-container, .app-container {
	height: 100%;
	margin: 0;
}

.app-container {
	display: flex;
	flex-flow: column;

	.row {
		&.header {
			flex: 0 1 auto;
		}

		&.content {
			flex: 1 1 auto;
			position: relative;

			.grid-container-full-height {
				height: 100%;
			}
		}

		&.footer {
			flex: 0 1 40px;
			border-top: solid 1px #b9b9b9;
		}
	}
}

.shadow-box-1 {
	background-color: #FFF;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	border: 1px solid #909090;
	padding: 8px;
}