/* ================================================================
 * TextField Outlined Input 너무 두꺼워서 padding을 조정하기 위한 스타일
 * 아래의 내용을 css로 조정함
	<TextField label="레이블 내용"
		inputProps={{ style: { padding: 8 } }}
		InputLabelProps={{
			style: { lineHeight: '1rem', top: '-4px' },
		}}
	/>
*/
.MuiOutlinedInput-input {
	padding: 8px !important;
}

.MuiInputLabel-root {
	line-height: 1rem !important;
	top: -4px !important;
}

.MuiInputLabel-shrink {
	top: 4px !important;
}
// ================================================================
.clickable-input {
	input {
		cursor: pointer;
	}
	fieldset {
		border: 0;
	}
}